<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Título de cabecera</h2>
      <h4>danicode@code.com</h4>
    </div>

    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="avatar"
    />
  </div>

  <!-- <mat-divider></mat-divider> -->

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
        >Dashboard</a
      >

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
        >Posts</a
      >
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
        >Dashboard</a
      >

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
        >Posts</a
      >
    </mat-expansion-panel>
  </mat-accordion>

  <!--   <h2 matSubheader>Páginas</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    >Posts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/article"
    >Artículos</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Herramientas</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon> Contactos
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon> Teléfonos
  </a> -->
</mat-nav-list>
